* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: "noto";
  src: url(NotoSans-Regular.ttf) format(truetype);
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: noto, Arial, Helvetica;
}

body {
  background-color: #1a7fbd;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  height: 100px;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  color: white;
  margin: 10px;
}

.nav:hover {
  color: rgb(0, 0, 0);
  background-color: #a4dcff;
  cursor: pointer;
}

#logo {
  margin-right: 100px;
}

#bottomblack div {
  padding: 15px 40px;
  font-weight: bolder;
  color: white;
  background-color: black;
}

#bottomblack div:hover {
  background-color: white;
  color: black;
}

#bottomblack {
  margin-left: 80px;
  padding: 0px;
  font-weight: bolder;
}

#linha {
  padding: 1px;
  background-image: linear-gradient(
    to left,
    #1a7fbd,
    rgba(255, 255, 255, 0.658),
    #1a7fbd
  );
}

@media screen and (max-width: 1326px) {
  header {
    width: 100vw;
    height: 150px;
    display: block;
  }

  #nav {
    margin-top: 25px;
  }
}

@media screen and (max-width: 932px) {
  header {
    height: auto;
  }

  #logo {
    margin: auto;
  }

  #nav {
    display: block;
    text-align: center;
  }

  .nav {
    margin: auto;
    padding: 0px;
  }

  .nav div {
    border-radius: 10px;
    background-color: #145985;
  }

  .nav div:hover {
    background-color: #a4dcff;
  }

  #nav div {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
  }

  #bottomblack div {
    border-radius: 10px;
    background-color: black;
    margin: auto;
    color: white;
  }
}

/*=====================================================================================================*/

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100vw;
}

#bannertopo {
  background: url(../Assets_Netuno/bannertopo.png) no-repeat -300px -100px;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 135vh;
}

#maeform {
  position: relative;
}

#maeform::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 5px;
  border-radius: 15px; /*1*/
  border: 1px solid transparent; /*2*/
  background: linear-gradient(
      45deg,
      #ffffff79,
      transparent,
      transparent,
      #ffffff79
    )
    border-box; /*3*/
  -webkit-mask: /*4*/ linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
  mask-composite: exclude; /*5*/
}

#maeform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 60%;
  margin-top: 90px;
  height: 900px;
  width: 500px;
  /* border-radius: 15px;
  border: 0.1px solid;
  border-image: linear-gradient(45deg, #ffffff79, #0077cc88, #ffffff79);
  border-image-slice: 1; */
}

#topform {
  box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.315);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.formdiv {
  position: relative;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.397);
}

.iconform {
  position: absolute;
  top: 25%;
  left: 1%;
}

#cursuser {
  background-color: #1a7fbd;
  height: 215px;
  color: white;
  box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.315);
}

#botform {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #1a7fbd;
  box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.5);
}

.form {
  background-color: rgb(255, 255, 255);
  width: 85%;
  height: 260px;
  padding: 20px;
}

.form h2 {
  color: rgba(0, 0, 0, 0.164);
  text-indent: 10px;
}

.form p {
  color: #1a7fbd;
  padding: 10px;
  text-indent: 10px;
}

.form1 {
  position: absolute;
  left: 10%;
  height: 92%;
  width: 89%;
  border-color: transparent;
}

.check {
  width: 20px;
  height: 19px;
  margin: 35px 0px 0px 20px;
}

.check:hover {
  cursor: pointer;
}

.checkbot {
  width: 20px;
  height: 20px;
  margin: 30px 10px;
}

.checkbot:hover {
  cursor: pointer;
}

.label_checkbot {
  color: rgba(0, 0, 0, 0.329);
  font-weight: bolder;
}

#fimform {
  border-top: 1px solid rgba(0, 0, 0, 0.322);
  text-align: center;
  width: 100%;
}

#fimform p {
  color: rgba(0, 0, 0, 0.596);
}

#enviar {
  margin-top: 20px;
  color: white;
  background-color: #1a7fbd;
  width: 100%;
  height: 55px;
  border-radius: 5px;
  border-color: transparent;
}

#enviar:hover {
  cursor: pointer;
}

.letra-pequena {
  font-size: 0.7em;
}

#fimform a {
  padding: 0px;
}

@media screen and (max-width: 1370px) {
  .check {
    margin: 25px 0px 0px 10px;
  }
}

@media screen and (max-width: 1245px) {
  .check {
    margin: 25px 0px 0px 0px;
  }
}

@media screen and (max-width: 1120px) {
  .check {
    margin: 35px 0px 0px 20px;
  }

  #maeform {
    margin: auto;
    margin-top: 0px;
  }
}

@media screen and (max-width: 550px) {
  .check {
    margin: 35px 0px 0px 0px;
  }
}
