* {
  padding: 0px;
  margin: 0px;
}

#mae-oprojeto {
  background: url(../Assets_Netuno/dev.png) no-repeat 100px;
  background-size: 55%;
  display: flex;
  width: 100%;
  height: 100vh;
}

#img-oprojeto {
  width: 60vw;
  height: 100vh;
}

#img-oprojeto img {
  margin-left: 100px;
  width: 50vw;
  min-width: 650px;
}

#texto-oprojeto {
  width: 400px;
  margin-left: 63%;
  color: white;
  padding-left: 10px;
}

#texto-oprojeto h1 {
  font-size: 60px;
  color: #a4dcff;
  margin-top: 80px;
}

#texto-oprojeto p {
  margin-top: 30px;
}

#pbolder {
  padding-bottom: 10px;
  font-weight: bolder;
}

#imagem-oprojeto {
  display: none;
}

@media screen and (max-width: 1125px) {
  #mae-oprojeto {
    display: block;
    background-color: #1a7fbd;
    background-size: 0px;
    height: auto;
  }

  #texto-oprojeto {
    width: 85%;
    margin: 0px auto;
    height: auto;
    min-width: 200px;
  }

  #texto-oprojeto h1 {
    font-size: 45px;
  }

  #imagem-oprojeto {
    display: block;
    margin: auto;
    text-align: center;
  }

  #imagem-oprojeto img {
    width: 60%;
  }
}

@media screen and (max-width: 650px) {
  #imagem-oprojeto img {
    width: 80%;
  }
}
