* {
  padding: 0px;
  margin: 0px;
}

#suajornada {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 200px;
}

#frasejornada {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80vw;
  height: 100px;
  margin-bottom: 100px;
}

#frasejornada h1 {
  background-image: linear-gradient(to right, #1a7fbd, #7eceff);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 55px;
  width: 310px;
  padding: 0px 20px;
}

#frasejornada img {
  margin-top: 40px;
  width: 30vw;
}

.ajornada {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 80vw;
}

.jornada {
  color: white;
  margin: 10px;
  background-color: #1a7fbd;
  display: flex;
  width: 400px;
  border-radius: 10px;
}

.img-jornada {
  width: 54px;
  height: 54px;
  margin: 10px;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
}

.frase-jornada {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

#pt2-ajornada {
  margin-top: 150px;
  text-align: center;
  padding-bottom: 250px;
}

#botao-cadastrar {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin: auto;
  margin-bottom: 40px;
  padding: 25px 10px;
  width: 600px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

#botao-cadastrar h2 strong {
  color: #1a7fbd;
}

#vector {
  width: 300px;
}

@media screen and (max-width: 950px) {
  .ajornada {
    display: block;
  }

  .jornada {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
  }

  #botao-cadastrar {
    width: 350px;
  }
}

@media screen and (max-width: 550px) {
  #frasejornada h1 {
    font-size: 50px;
  }
}
