* {
  padding: 0px;
  margin: 0px;
}

footer {
  width: 100vw;
  height: auto;
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

footer ul {
  list-style: none;
}

#imagem-redes-sociais {
  padding: 50px 100px 50px 0px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.596);
}

.social {
  padding: 10px 0px;
  width: 20px;
  margin-left: 10px;
}

#imagem-rodape {
  width: 15vw;
}

#rodape {
  width: 50vw;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
}

#borda-botao {
  margin-right: 50px;
}

#botao-rodape {
  width: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: black;
  border: 1.5px solid #1a7fbd;
  text-shadow: 0.3px 0.3px 0.3px black;
  border-radius: 10px;
  padding: 20px 50px;
  margin: 20px;
  background-color: white;
}

#conteudo-rodape {
  display: flex;
  justify-content: space-around;
  padding: 40px 60px;
}

#titulos {
  text-align: center;
  padding: 10px 30px;
  margin-top: 20px;
}

.titulos {
  margin-bottom: 20px;
  width: 150px;
}

.titulos a {
  color: white;
  padding: 0px;
}

#conteudo-rodape li {
  padding-bottom: 20px;
  width: 90px;
}

#contato {
  padding: 0px 0px 10px 30px;
  margin-top: 30px;
  height: 150px;
  border-left: 1px solid white;
}

#contato p {
  padding: 10px;
}

@media screen and (max-width: 1400px) {
  #imagem-redes-sociais {
    width: 300px;
  }

  #imagem-rodape {
    width: 25vw;
  }

  #rodape {
    display: block;
  }

  #contato {
    margin-left: 0px;
  }
}

@media screen and (max-width: 900px) {
  footer {
    display: block;
  }

  #imagem-redes-sociais {
    width: 260px;
    margin: auto;
  }

  #imagem-rodape {
    min-width: 200px;
  }

  #rodape {
    margin: auto;
    position: relative;
  }

  #titulos {
    padding: 10px 0px;
  }

  #contato {
    padding-left: 10px;
  }

  #botao-rodape {
    width: 20vw;
    margin: auto;
  }
}
