* {
  padding: 0px;
  margin: 0px;
}

#mae-oprojeto {
  display: flex;
}

#img-oprojeto {
  width: 60vw;
  height: 100vh;
}

#img-oprojeto img {
  margin-left: 100px;
  width: 50vw;
  min-width: 650px;
}

#texto-oprojeto {
  width: 25vw;
  margin-right: 35px;
  color: white;
  padding-left: 10px;
}

#texto-oprojeto h1 {
  font-size: 65px;
  color: rgba(255, 255, 255, 0.527);
  margin-top: 80px;
  min-width: 300px;
}

#texto-oprojeto p {
  display: block;
  font-size: 21px;
  margin-top: 30px;
  min-width: 300px;
}

#pbolder {
  font-weight: bolder;
}
